# DeepPhys training:
python train.py DeepPhys L1 /media/nas/PUBLIC/0_training_set/PIC190111_128x128_8UC3.hdf5 0 3000 3000 3800 deepphys
DeepPhys MSE /media/nas/PUBLIC/0_training_set/PIC190111_128x128_8UC3.hdf5 0 3000 3000 3800 deepphys --epochs 30 --checkpoint_dir deepphys
DeepPhys MSE /media/nas/PUBLIC/0_training_set/PIC190111_128x128_8UC3.hdf5 0 3000 3000 3800 deepphys --epochs 30 --batch_size 64 --checkpoint_dir deepphys

DeepPhys L1 /media/nas/PUBLIC/0_training_set/PIC190111_128x128_8UC3.hdf5 0 3000 3000 3800 deepphys --img_augm False --epochs 30 --batch_size 64 --checkpoint_dir deepphys
DeepPhys L1 data/PUBLIC/0_training_set/PIC190111_128x128_8UC3.hdf5 0 3000 3000 3800 deepphys --img_augm False --epochs 30 --batch_size 64 --checkpoint_dir deepphys --n_cpu 16

# Start training in background
nohup python train.py DeepPhys L1 ../data/PUBLIC/0_training_set/PIC190111_128x128_8UC3.hdf5 0 3000 3000 3800 deepphys --img_augm False --epochs 30 --batch_size 64 --checkpoint_dir deepphys --n_cpu 0 &
